*{
    margin: 0;
    padding: 0
}

body{
    height: 100vh;
    width:100vw;
    background-color: rgb(6, 55, 71);
}
.form-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226)
}
h2{
    font-weight: bold;
    text-align: center
}
.btn{
    border-radius: 0 !important;
}
.btn-primary{
    background-color: rgb(6, 55, 71)!important;
    border-color: rgb(6, 55, 71)!important
}
label{
    font-size: 1.3rem
}